$bgColor: #F8F8F8;
$hColor: #7E7E82;
$borderSectionColor: #D9FFF5;
$lighterClr: #EAEAEA;
$highLightColor: #41F6D7;
$navBorderClr: #B8FFEC;
$mainTxtClr: #1B1C21;
$tblTitleClr: #7E7E82;
$btnOrderClr: #FF3E79;
$shdwClr1: #0E185033;
$shdwClr2: #454F7E05;
$plchldClr: #B5B6BC;
$unactBulltClr: #DDDDDD;
$actBulltClr: #B5B6BC;

$mobPdng: 16px;
$tablPdng: 24px;
$pcPdng: 34px;

$midScreen: 480px;
$lgScreen: 1015px;
$maxMidScreen: $lgScreen - 1;
$mobScreen: $midScreen - 1;